<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer Test Info</title>
  <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   {% include 'Admin/navbar.html' %}
   <div class="flex-1 flex flex-col ml-0 md:ml-64 transition-all duration-200 ease-in-out" id="main-content">
     <main class="p-6 overflow-auto h-screen">
         <div class="grid grid-flow-col grid-rows-1">
<!--           <form class="w-full mx-auto">-->
<!--             <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>-->
<!--              <div class="relative">-->
<!--                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">-->
<!--                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">-->
<!--                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>-->
<!--                  </svg>-->
<!--                </div>-->
<!--                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required />-->
<!--                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>-->
<!--              </div>-->
<!--           </form>-->
         </div>

         <br>
       <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class=" w-full text-sm text-left text-gray-500" id="content">
                    <caption class="p-3 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                       Developer Test Info
                    </caption>
                    <thead class="text-xs text-gray-700  uppercase bg-gray-400">
                        <tr>
                            <th scope="col" class="px-2 py-3">Sr.No</th>
                            <th scope="col" class="px-6 py-3">Name</th>
                            <th scope="col" class="px-3 py-3">Email</th>
                            <th scope="col" class="px-3 py-3">Contact</th>
                            <th scope="col" class="px-3 py-3">Domain</th>
                            <th scope="col" class="px-4 py-3">Resume</th>
                            <th scope="col" class="px-3 py-3">Marks Obtained</th>
                            <th scope="col" class="px-4 py-3">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                        <tr class="bg-white border-b">
                            <td class="px-2 py-3">{{ forloop.counter }}</td>
                            <td class="px-6 py-3 font-medium text-gray-900">{{ i.name }}</td>
                            <td class="px-3 py-3">{{ i.email }}</td>
                            <td class="px-3 py-3">{{ i.contact }}</td>
                            <td class="px-3 py-3">{{ i.domain }}</td>
                            <td class="px-4 py-3"><a href="media/{{ i.resume }}">{{i.resume}}</a></td>
                            <td class="px-3 py-3">{{ i.mark }}</td>
                            <td class="px-4 py-3 text-green-600">{{ i.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
       </div>
     </main>
   </div>

   <script>
        const sidebar = document.getElementById('sidebar');
        const menuBtn = document.getElementById('menu-btn');
        const mainContent = document.getElementById('main-content');
        const menuItems = document.querySelectorAll('.menu-item');
         const userDropdownBtn = document.getElementById('user-dropdown-btn');
        const userDropdown = document.getElementById('user-dropdown');


        menuBtn.addEventListener('click', () => {
            sidebar.classList.toggle('-translate-x-full');
            if (sidebar.classList.contains('-translate-x-full')) {
                mainContent.classList.remove('ml-64');
                mainContent.classList.add('ml-0');
            } else {
                mainContent.classList.remove('ml-0');
                mainContent.classList.add('ml-64');
            }
        });

        menuItems.forEach(item => {
            item.addEventListener('click', () => {
                if (window.innerWidth < 768) {
                    sidebar.classList.add('-translate-x-full');
                    mainContent.classList.remove('ml-64');
                    mainContent.classList.add('ml-0');
                }
            });
        });

        userDropdownBtn.addEventListener('click', () => {
            userDropdown.classList.toggle('hidden');
        });
    </script>

</body>
</html>