{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start the Quiz</title>
        <link rel="stylesheet" href="{% static 'css/quiz.css' %}" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Technical and Hiring Assistance System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" href="ddashboard">Home</a></li>
<!--                <li class="nav-item"><a class="nav-link" href="">About Us</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="certificate">Get Certificate</a></li>-->
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal"
                            style="margin-top:5px; border-radius:50px; font-size:20px;">
                        <i class="fa fa-user-circle-o"></i>
                    </button>
                </li>
                <li class="nav-item">
                    <a href="dlogout" class="nav-link">
                        <i class="glyphicon glyphicon-log-out"></i> LogOut
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">My Profile</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {% for i in data1 %}
                    <h5>Name: {{ i.fname }}</h5>
                    <h5>Email: {{ i.email }}</h5>
                    <h5>Education: {{ i.education }}</h5>
                    <h5>Contact: {{ i.contact }}</h5>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    {% include 'msg.html' %}

    <div class="container-main">
        <form action="submit" method="post" style="margin-left:5%; color:white">
            {% csrf_token %}
            {% for i in data %}
            <h3>{{ forloop.counter }}. {{i.Question}}</h3>
            &nbsp&nbsp&nbsp&nbsp<label for="{{i.option1}}">
                <h4><input type="radio" id="{{i.option1}}" name="{{i.id}}" value="{{i.id}}-{{i.option1}}"> {{i.option1}}</h4>
            </label><br>
            &nbsp&nbsp&nbsp&nbsp<label for="{{i.option2}}">
                <h4><input type="radio" id="{{i.option2}}" name="{{i.id}}" value="{{i.id}}-{{i.option2}}"> {{i.option2}}</h4>
            </label><br>
            &nbsp&nbsp&nbsp&nbsp<label for="{{i.option3}}">
                <h4><input type="radio" id="{{i.option3}}" name="{{i.id}}" value="{{i.id}}-{{i.option3}}"> {{i.option3}}</h4>
            </label><br>
            &nbsp&nbsp&nbsp&nbsp<label for="{{i.option4}}">
                <h4><input type="radio" id="{{i.option4}}" name="{{i.id}}" value="{{i.id}}-{{i.option4}}"> {{i.option4}}</h4>
            </label>
                <br><br>
            {% endfor %}<br><br>
            <center>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </center>
        </form>
    </div>

<script>
          setTimeout(function()
          {
            if($("#msg").length > 0)
             {
                $("#msg").remove();
             }
          },3000);


<!--    code for changing window alert-->
    let switchCount = 0;

        document.addEventListener('visibilitychange', function() {
            if (document.hidden) {
                switchCount++;
                alert(`You have switched tabs or windows ${switchCount} times!`);
            }
            if (switchCount >= 5) {
                    window.location.href = "{% url 'next_page' %}";
                }

        });
</script>
</body>
</html>